#manageMain{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    min-height: 75vh;
    width: 100%;
}
#manageMain.hidden {
    display: none; 
}

#manageMain h1{
    border-bottom: 1px solid black;
}

.courses-table {
    width: 80%;
    margin: 0 auto; 
    border-collapse: collapse; 
    border-spacing: 0;
}


.courses-table td, .courses-table th {
    border: 1px solid #ccc; 
    padding: 8px; 
    text-align: left; 
}

.courses-table tr{
    margin-bottom: 10px;
}

.button-cell {
    width: 1%; 
    white-space: nowrap; 
    padding: 8px; 
}


.full-width-button-container {
    width: 100%; 
}


.full-width-button {
    width: 100%;
    background-color: rgb(123, 119, 119);
    color: white;
    border-radius: 5px;
}

.windowoptionsDelete{
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
}

.optionsDelete{
    width: 40%;
    height: fit-content;
    padding: 2em;
}