.mainEdit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 75vh;
}

.mainEdit form{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.imageEdit{
    width: 20%;
    margin: 1em;
}

.buttonEdit{
    background-color: #192d2e; 
    color: white;
    padding: 0.5em;
}

.backEdit{
    background-color: #192d2e; 
    color: white;
    padding: 0.5em;
    position: absolute;
    left: 10;
    top: 100;
}