.lessonsMain{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    min-height: 75vh;
    width: 100%;
}

.lessonsMain h1{
    border-bottom: 1px solid black;
}

.lessons-table {
    width: 80%;
    margin: 0 auto; 
    border-collapse: collapse; 
    border-spacing: 0;
}


.lessons-table td, .lessons-table th {
    border: 1px solid #ccc; 
    padding: 8px; 
    text-align: left; 
}

.lessons-table tr{
    margin-bottom: 10px;
}

.button-cell {
    width: 1%; 
    white-space: nowrap; 
    padding: 8px;
}


.full-width-button-container {
    width: 100%; 
}


.full-width-button {
    width: 100%; 
    background-color: rgb(123, 119, 119);
    color: white;
    border-radius: 5px;
}

.titleLessons{
    text-decoration: none;
    color: black;
}

.titleLessons:hover {
    color: #b0d0ef;
}

.back{
    position: absolute;
    background-color: #192d2e; 
    color: white;
    padding: 0.5em;
    top: 7em;
    left: 1em;
}