.mainEvaluate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 75vh
}

.infoEvaluate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 50%;
}

.backEvaluate{
    position: absolute;
    background-color: #192d2e; 
    color: white;
    padding: 0.5em;
    left: 10;
    top: 100;
}