.mainTest{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.infoTest{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 3em;
    width: 30%;
}

.buttonTest{
    background-color: #192d2e; 
    color: white;
    padding: 0.5em;
}