.mainCP{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.infoCP{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 3em;
}

.headingCP{
    display: flex;
    justify-content: center;
}
.headingCP h1{
    margin-bottom: 1em;
    border-bottom: 1px solid black;
}

.buttonCP{
    background-color: #192d2e; 
    color: white;
    padding: 0.5em;
}

.backCP{
    background-color: #192d2e; 
    color: white;
    padding: 0.5em;
    position: absolute;
    left: 10;
    top: 100;
}