.mainProfile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.infoProfile{
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2em;
    width: 30%;
}

.headingProfile{
    display: flex;
    justify-content: center;
}

.buttonProfile{
    background-color: #192d2e; 
    color: white;
    padding: 0.5em;
}