.join{
    display: flex;
    justify-content: space-evenly;
    height: fit-content;
    padding: 2em;
    width: 100%;
}

a{
    text-decoration: none;
}

.studentimage{
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 30%;
   height: fit-content;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   
}
.professorimage{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-decoration: none;
    align-items: center;
    display: flex;
    width: 30%;
    height: fit-content;
}

.studentimage h1{
    color: black;
}

.professorimage h1{
    color: black;   
    text-align: end;
}

.headingJoin{
    display: flex;
    justify-content: center;

}

.headingJoin h1{
    border-bottom: 1px solid black;
}

.becomestudent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.becomeprofessor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.professorimage:hover{
    width: 31%;
   
}
.studentimage:hover{
    width: 31%;
   
}
