.join{
    display: flex;
    justify-content: space-evenly;
    height: fit-content;
    padding: 2em;
}

.studentimage{
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 44%;
   height: fit-content;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   
}
.studentimage h1{
    color: black;
}
.professorimage{
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-decoration: none;
    align-items: center;
    display: flex;
    width: 40%;
    height: fit-content;
}
.professorimage:hover{
    width: 43%;
   
}
.studentimage:hover{
    width: 47%;
   
}

.professorimage h1{
    color: black;
    text-align: end;
}
.professorimage img{
   
    margin-top: -1px;
}

.headingJoin{
    display: flex;
    justify-content: center;

}

.headingJoin h1{
    border-bottom: 1px solid black;
}

.becomestudent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.becomeprofessor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}