.mainHistory{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 75vh;
}

.infoHistory{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 3em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.buttonHistory{
    display: flex;
    width: 100%;
    justify-content: center;
}

.backHistory{
    position: absolute;
    left: 10;
    top: 100;
    background-color: #192d2e; 
    color: white;
    padding: 0.5em;
}